html, body {
  width: 450px;
  padding:10px;
  margin-right:10px;
  height: 100%;
  overflow: hidden;
}

.alert-div{
  padding:10px;
  margin:10px;
  width:300px;
  border-radius: 5px;
  cursor:pointer;
}

.header{
  padding:10px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.title{
  font-family:"Arial"
}

.styled-button{
  background-color: white;
  color;black;
  border-radius: 5px;
  border:1px solid gray;
  cursor:pointer;
  padding: 10px 16px;
  font-size:16px
}

/* Style buttons */
.icon-btn {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: gray; /* White text */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.icon-btn:hover {
  color:black;
}

/****** COLOR STYLING FOR ALERT DIVS *******/
.financial{
  background-color:#FCE4EC; /*pink*/
}

.personal{
  background-color:#F3E5F5; /*purple*/
}

.health{
  background-color:#E3F2FD; /*blue*/
}

.targeted-ads{
  background-color:#E8F5E9; /*green*/
}

.thirdparty-tracking{
  background-color:#FBE9E7; /*orange*/
}

.thirdparty-collection{
  background-color:#FFFDE7; /*yellow*/
}

.personalisation{
  background-color:#E0F2F1; /*teal*/
}

.donottrack{
  background-color:#F5F5F5; /*grey*/
}

.firstparty-tracking{
  background-color:#F9FBE7; /*lime green*/
}

.location{
  background-color:#FFEBEE; /*red*/
}
